*{
	padding: 0;
	margin: 0;
}
body{
	padding-top: 60px;
	background-color: #FFFFFF;
}
/**
 * 导航条样式
 */
.navbar {
	background-color: #FFFFFF;
	height: 60px;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 100px;
}

.navbar .navbar-header a {
	padding: 0;
}
.navbar .navbar-brand{
	height: 100%;
	width: 100px;
/*	border-right: 1px solid #CCCCCC;*/
}
.navbar-brand .navbar-header img {
	height: 60px;
	width: 100%;
}

/**
 * 搜索框
 */
.navbar-form {
	height: 100%;
	
	width: 770px;
	/*border-left: 1px solid #CCCCCC;*/
}
.navbar-form .form-group{
	width: 700px;
	margin-bottom: 12px;
	
}
.navbar-form input{
	width: 700px;
	height: 45px;
	
}

 .navbar-form button{
 	height: 45px;
 } 

/**
 * 导航条右侧
 */

.navbar .container-fluid .navbar-right .user2{
	padding-top: 5px;
}


.navbar .container-fluid .navbar-right .plan{
	padding-top: 5px;
}

.navbar .container-fluid .navbar-right .info{
	padding-top: 5px;
}
.navbar .container-fluid .navbar-right .usrimg{
	padding-top: 5px;
	border-left: 1px solid #CCCCCC;
}
.navbar .container-fluid .navbar-right img{
	height: 35px;
	width: 35px;
}
/**
 * 上传样式
 */
.upload{
	padding: 0;
	border-bottom: 1px solid #C0C0C0;
}
.upload .row-fluid{
	height: 550px;
	/*border: 1px solid red;*/
	margin-top: 0;
	padding-left: 0px;
	padding-right: 0px;
}
.upload .bookinfo{
	margin-left: 90px;
	margin-top: 40px;
}
.upload .bookinfo p{
	font-size: 30px;
}
.upload .form{
	/*border: 1px solid red;*/
} 
.upload .form select{
	margin-top: 20px;
	margin-left: 20px;
	height: 40px;
	width: 200px;
	padding-left: 10px;
	color: #C0C0C0;
	font-size: 20px;
	border-radius: 1px;
}
.upload .bookName{
	margin-top: 20px;
	margin-left: 5px;
	height: 40px;
	width: 200px;
	padding-left: 10px;
	color: #C0C0C0;
	font-size: 14px;
	/*border-radius: 1px;*/
}
.upload .isbn{
	margin-top: 5px;
	margin-left: 20px;
	height: 40px;
	width: 200px;
	padding-left: 10px;
	color: #C0C0C0;
	font-size: 20px;
	/*border-radius: 2px;*/
}
.upload .author{
	margin-top: 5px;
	margin-left: 5px;
	height: 40px;
	width: 200px;
	padding-left: 10px;
	color: #C0C0C0;
	font-size: 20px;
	/*border-radius: 2px;*/
}
.upload .price{
	margin-top: 5px;
	margin-left: 20px;
	height: 40px;
	width: 200px;
	padding-left: 10px;
	color: #C0C0C0;
	font-size: 20px;
	/*border-radius: 2px;*/
}
.upload .picture{
	margin-left: 250px;
	margin-top: -30px;
}
.upload .submit{
	margin-left: 20px;
	margin-top: 20px;
	width: 80px;
	height: 40px;
	
}
.upload .bookpicture{
	width: 50%;
	height: 550px;
	padding-right: 0px;
	margin-left: 0px;
/*	border:  1px solid yellow;*/
}
.upload .bookpicture img{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
/**
 * footer
 */
.footer{
	height: 220px;
}
.footer .input select{
	margin-top: 50px;
	margin-left: 70px;
	height: 45px;
	width: 150px;
	padding-left: 10px;
	color: #2FB0D8;
}
.footer .airbook{
	padding-top: 40px;
}
.footer .find{
	padding-top: 40px;
	margin-left: -20px;
}
.footer .rent{
	padding-top: 40px;
}
.footer p{
	color: #767676;
}
.footermine{
	height: 100px;
	border-top: 1px solid #C0C0C0;
}
.footermine footer{
	padding-top: 20px;
}

