/* CSS Document */
@font-face{
        font-family: notoSans;
        src:  url('../fonts/NotoSansCJKsc-Regular.otf');
        }
*{margin:0; padding:0;font-family:notoSans;}
body{font-size:12px; line-height:24px; color:#585858;}
a{color:#333; text-decoration:none; }
a:hover{color:#1bb674; text-decoration:none;}
ul,li{ list-style-type:none;}
.clear{ clear:both;}
img{ border:0px;}

.header{ width:100%; height:80px; border-bottom:solid 1px #c9daef;}
.headercer{ width:1150px; margin:0 auto; height:80px; }
.headercer .logo{margin-top:14px; float:left;}
.headercer a{ font-size:22px; color:#585858; float:right; margin-top:31px; font-weight: bold;}


.ResetBg{ width:100%; height:100%; background:#000; opacity:0.5; position:absolute; left:0px; top:0px; display:none;}
.resetBox{ height:250px; width:450px; background:#fff; border-radius:10px; z-index:111; position:absolute; left:50%; top:50%; text-align:center; font-size:22px; margin-top:-135px; margin-left:-225px; padding-top:20px; display:none;}

.Resetul{ width:485px; margin:114px auto;}
.Resetul li{ margin-top:30px; float:left; width:100%;font-size: large;}
.Resetul li p{ width:112px; float:left;font-size:22px; line-height:38px;}
.Resetul li .right{ float:right; width:373px; font-size:14px; color:#9e9e9e; line-height:18px;}
.Resetul li .right1{ float:right;}

.Resetul .biaoti{ text-align:center; font-size:22px; margin-bottom:22px; font-weight: bold;}

.Resetul li .text{ width:371px; height:38px; border:solid 1px #d4d4d4; border-radius:5px; text-indent:5px; font-size:22px; outline:none;}
.Resetul li .button1{ width:172px; height:38px; border:solid 1px #3c4a5c; background:#3c4a5c; border-radius:5px; text-indent:5px; font-size:20px; outline:none; color:#fff; cursor:pointer;margin-top:22px;}
.Resetul li .button2{ width:172px; height:38px; border:solid 1px #fff; background:#fff; border-radius:5px; text-indent:5px; font-size:18px; outline:none; color:#5e80ad; cursor:pointer;margin-top:22px;}
